RedirectMatch 301 ^/$ https://c2i-tice.forge.apps.education.fr/
Redirect 301 https://tice-c2i.apps.math.cnrs.fr/2021/07/13/modelisation-avec-geogebra-dun-patron-sans-colle-dune-stella-octangula-et-fractale-pour-sa-decoupe-numerique/ https://c2i-tice.forge.apps.education.fr/04_outils_num/03_fablab/2021-07-13-modeGGBpatronSansColleStellaFractale/
Redirect 301 https://tice-c2i.apps.math.cnrs.fr/2020/01/13/modelisation-3d-avec-geogebra-dun-solide-en-vue-de-son-impression-3d-en-mode-filaire-exemple-dune-stella-octangula/ https://c2i-tice.forge.apps.education.fr/04_outils_num/03_fablab/2020-01-13-mode3d-ggb-stellaOcta-filaire/
