RedirectMatch 301 ^/$ https://c2i-tice.forge.apps.education.fr/
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/2021/07/13/modelisation-avec-geogebra-dun-patron-sans-colle-dune-stella-octangula-et-fractale-pour-sa-decoupe-numerique/$
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/03_fablab/2021-07-13-modeGGBpatronSansColleStellaFractale/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2020/01/13/modelisation-3d-avec-geogebra-dun-solide-en-vue-de-son-impression-3d-en-mode-filaire-exemple-dune-stella-octangula/
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/03_fablab/2020-01-13-mode3d-ggb-stellaOcta-filaire/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2020/01/12/modelisation-3d-avec-sketchup-dune-stella-octangula-et-sa-reparation-en-vue-de-son-impression-3d/ 
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/03_fablab/2020-01-12-mode3d-sketchup-stellaOct-3d/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/geogebra/ 
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/01_geom_dyn/01_GGB/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2023/10/21/le-generateur-de-solides/ 
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/03_fablab/2023-10-21-le-generateur-de-solides/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2023/11/04/mathalea/ 
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/01_applis_logiciels/2023-11-04-mathalea/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2023/10/21/pyggb/ 
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/01_applis_logiciels/2023-10-21-pyggb/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2023/11/10/pytch/ 
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/01_applis_logiciels/2023-11-10-pytch/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2023/10/29/python-tutor/ 
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/01_applis_logiciels/2023-10-29-python-tutor/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2023/11/02/super-coding-ball/ 
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/01_applis_logiciels/2023-11-02-super-coding-ball/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2023/10/15/elementor-6481/
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/01_applis_logiciels/2023-10-15-tarsia/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2022/06/25/scratchggb/ 
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/01_applis_logiciels/2022-06-25-scratchggb/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2022/11/02/6388/
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/04_outils_num/01_applis_logiciels/2022-11-02-atelierNumerique/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2024/03/18/la-geometrie-dans-lespace-avec-lirem-de-paris-nord/
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/01_geom_dyn/01_GGB/2024-03-18-iremParisNord-espace/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/2024/03/23/la-restauration-de-constructions-geometriques-avec-lirem-de-paris-nord/
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/01_geom_dyn/01_GGB/2024-03-23-iremParisNord-constructions-geometriques/ [R=301,L]

RewriteCond %{QUERY_STRING} (^|&)p=122(&|$)
RewriteRule ^(.*)$ https://c2i-tice.forge.apps.education.fr/01_geom_dyn/01_GGB/ [R=301,L]

